input {
  text-align: center;
}

.alert_message {
  color: red;
  font-weight: 700;
  text-align: center;
}
.bookrecords {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.find_button {
  margin: 1em;
}
.input_fields {
  margin: 0 0.4em;
}
.search_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
